/* Global CSS Variables */
:root {
  --navbar-height: 100px; /* Fixed navbar height for layout calculations */
}

@font-face {
  font-family: 'Phitagate';
  src: url('/fonts/Phitagate.otf') format('opentype');
}

.phitagate-font {
  font-family: 'Phitagate', serif;
}
